---

---

<section class="cardSecPopular hidden">
  <div class="mangaPopular pop" data-index="4">
    <img src="./MANGA/8.jpg" class="mangaImg" />
    <span class="prevPrice">9.99€</span>
  </div>

  <div class="mangaPopular pop" data-index="5">
    <img src="./MANGA/8.jpg" class="mangaImg" />
    <span class="prevPrice">9.99€</span>
  </div>

  <div class="mangaPopular pop" data-index="6">
    <img src="./MANGA/8.jpg" class="mangaImg" />
    <span class="prevPrice">9.99€</span>
  </div>

  <div class="overlayPop" id="overlayPop">
    <div class="modalWindowPop">
      <button type="button" class="closeBtn" id="closeBtnPop">close</button>
      <img src="./MANGA/8.jpg" class="modalImg" />
      <span class="prevPrice">8.99€</span>
      <button type="button" class="buyBtn" id="buyBtnPop">BUY</button>
    </div>
  </div>
</section>

<script>
  import { MANGA } from "../../../public/MANGA.js";

  const modalWindow = document.getElementById("overlayPop");
  const closeBtn = document.getElementById("closeBtnPop");
  const buyBtn = document.getElementById("buyBtnPop");

  var saleMangaList = [];
  function selectPopManga() {
    var indices = [];

    while (indices.length < 3) {
      var randomIndex = Math.floor(Math.random() * MANGA.length);
      if (!indices.includes(randomIndex)) {
        indices.push(randomIndex);
      }
    }

    for (var i = 0; i < indices.length; i++) {
      saleMangaList.push(MANGA[indices[i]]);
    }
  }

  function changeValue(saleMangaList) {
    const mangaDivs = document.querySelectorAll(".mangaPopular");

    saleMangaList.forEach((manga, index) => {
      const mangaDiv = mangaDivs[index];
      const img = mangaDiv.querySelector("img");
      const prevPriceSpan = mangaDiv.querySelector(".prevPrice");

      img.src = manga.image;
      prevPriceSpan.textContent = manga.price;
    });
  }

  function openModalWindow() {
    modalWindow.style.display = "flex";
  }

  function closeModalWindow() {
    modalWindow.style.display = "none";
  }
  const elementsWithIndex = document.querySelectorAll("[data-index]");

  console.log(elementsWithIndex);

  const elementNew = document.getElementsByClassName("pop");
  Array.from(elementNew).forEach(function (element) {
    element.addEventListener("click", function () {
      openModalWindow();
      const modalImg = modalWindow.querySelector(".modalImg");
      const mangaDiv = this.querySelector(".mangaImg");
      const imgSrc = mangaDiv.src;
      modalImg.src = imgSrc; // it is okay everything is fine
    });
  });

  closeBtn.addEventListener("click", function (event) {
    closeModalWindow();
  });
  buyBtn.addEventListener("click", function (event) {
    closeModalWindow();
  });

  document.addEventListener("DOMContentLoaded", function () {
    selectPopManga();
  });
  document.addEventListener("DOMContentLoaded", function () {
    changeValue(saleMangaList);
  });
</script>

<style>
  * {
    margin: 0px;
    padding: 0px;
  }
  .cardSecPopular {
    display: flex;
    gap: 40px;
  }
  .hidden {
    display: none !important;
  }
  .overlayPop {
    display: none;
    z-index: 110;
    overflow: auto;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    background-color: #00000036;
  }
  .modalWindowPop {
    position: relative;
    padding: 20px;

    width: 350px;
    height: 450px;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    background-color: #e2dbf0;
    border-radius: 20px;
    border: 10px solid white;
    box-sizing: border-box;
  }
  .buyBtn {
    margin-top: 15px;
    width: 100px;
    height: 50px;
    background-color: #8c5ee7;
    border: none;
    border-radius: 20px;

    color: #fff;
    text-align: center;
    font-family: "Maven Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.25s;
  }
  .closeBtn {
    top: 20px;
    left: 15px;
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: #8c5ee7;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;

    color: #654d94;
    text-align: center;
    font-family: "Maven Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.25s;
  }
  .buyBtn:hover,
  .closeBtn:hover {
    color: #9a79db;
    background-color: #fff;
  }
  .mangaPopular {
    cursor: pointer;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 227px;
    height: 374px;
    border-radius: 20px;
    background: #e2dbf0;
  }

  .mangaPopular::after {
    position: absolute;
    top: -15px;
    right: -24px;

    content: "POP";
    display: inline-block;
    width: 83px;
    height: 32px;
    flex-shrink: 0;

    background: #8c5ee7;

    color: #fff;
    text-align: center;
    font-family: "Maven Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  img {
    margin: 0 auto;
    width: 152px;
    height: 239px;
    flex-shrink: 0;
    border: 3px solid #0f0b18;
  }
  span {
    color: #000;
    text-align: center;
    font-family: Mali;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .prevPrice {
    text-align: center;
    font-family: Mali;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 23px;
    color: black;
  }
</style>
