---

---

<div class="manga" data-index="0">
  <img src="./MANGA/8.jpg" class="mangaImg" />
  <span class="prevPrice">9.99€</span>
  <span class="price">8.59€</span>
</div>

<div class="manga" data-index="1">
  <img src="./MANGA/8.jpg" class="mangaImg" />
  <span class="prevPrice">9.99€</span>
  <span class="price">8.59€</span>
</div>

<div class="manga" data-index="3">
  <img src="./MANGA/8.jpg" class="mangaImg" />
  <span class="prevPrice">9.99€</span>
  <span class="price">8.59€</span>
</div>

<div class="overlay" id="overlay">
  <div class="modalWindow">
    <button type="button" class="closeBtn" id="closeBtn">close</button>
    <img src="./MANGA/8.jpg" class="modalImg" />
    <span class="price">8.99€</span>
    <button type="button" class="buyBtn" id="buyBtn">BUY</button>
  </div>
</div>
<script>
  import { MANGA } from "./MANGA.js";

  const modalWindow = document.getElementById("overlay");
  const closeBtn = document.getElementById("closeBtn");
  const buyBtn = document.getElementById("buyBtn");

  var saleMangaList = [];
  function findSaleManga() {
    for (let i = 0; i < MANGA.length; i++) {
      if (MANGA[i].newPrice && MANGA[i].newPrice === "8.99€") {
        saleMangaList.push(MANGA[i]);
      }
    }
    console.log(saleMangaList);
  }

  function changeValue(saleMangaList) {
    const mangaDivs = document.querySelectorAll(".manga");

    saleMangaList.forEach((manga, index) => {
      const mangaDiv = mangaDivs[index];
      const img = mangaDiv.querySelector("img");
      const prevPriceSpan = mangaDiv.querySelector(".prevPrice");
      const priceSpan = mangaDiv.querySelector(".price");

      img.src = manga.image;
      prevPriceSpan.textContent = manga.price;
      priceSpan.textContent = manga.newPrice;
    });
  }

  function openModalWindow() {
    modalWindow.style.display = "flex";
  }

  function closeModalWindow() {
    modalWindow.style.display = "none";
  }
  const elementsWithIndex = document.querySelectorAll("[data-index]");

  elementsWithIndex.forEach(function (element) {
    element.addEventListener("click", function () {
      openModalWindow();
      const modalImg = modalWindow.querySelector(".modalImg");
      const mangaDiv = this.querySelector(".mangaImg");
      const imgSrc = mangaDiv.src;
      modalImg.src = imgSrc;

      console.log(imgSrc);
      console.log(mangaDiv);
      console.log(modalImg);
    });
  });

  closeBtn.addEventListener("click", function (event) {
    closeModalWindow();
  });
  buyBtn.addEventListener("click", function (event) {
    closeModalWindow();
  });

  document.addEventListener("DOMContentLoaded", function () {
    findSaleManga();
  });
  document.addEventListener("DOMContentLoaded", function () {
    changeValue(saleMangaList);
  });
</script>

<style>
  * {
    margin: 0px;
    padding: 0px;
  }
  .overlay {
    display: none;
    z-index: 110;
    overflow: auto;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    background-color: #00000036;
  }
  .modalWindow {
    position: relative;
    padding: 20px;

    width: 350px;
    height: 450px;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    background-color: #e2dbf0;
    border-radius: 20px;
    border: 10px solid white;
    box-sizing: border-box;
  }
  .buyBtn {
    margin-top: 15px;
    width: 100px;
    height: 50px;
    background-color: #8c5ee7;
    border: none;
    border-radius: 20px;

    color: #fff;
    text-align: center;
    font-family: "Maven Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.25s;
  }
  .closeBtn {
    top: 20px;
    left: 15px;
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: #8c5ee7;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;

    color: #654d94;
    text-align: center;
    font-family: "Maven Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.25s;
  }
  .buyBtn:hover,
  .closeBtn:hover {
    color: #9a79db;
    background-color: #fff;
  }
  .manga {
    cursor: pointer;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 227px;
    height: 374px;
    border-radius: 20px;
    background: #e2dbf0;
  }

  .manga::after {
    position: absolute;
    top: -15px;
    right: -24px;

    content: "SALE";
    display: inline-block;
    width: 83px;
    height: 32px;
    flex-shrink: 0;

    background: #8c5ee7;

    color: #fff;
    text-align: center;
    font-family: "Maven Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  img {
    margin: 0 auto;
    width: 152px;
    height: 239px;
    flex-shrink: 0;
    border: 3px solid #0f0b18;
  }
  span {
    color: #000;
    text-align: center;
    font-family: Mali;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .prevPrice {
    position: absolute;
    left: 50%;
    top: 270px;
    transform: translateX(-50%);

    margin: 0px;
    color: #fff;
    text-align: center;
    font-family: Mali;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
  }
  .prevPrice::after {
    position: absolute;
    left: 0px;
    top: 15px;
    content: "";
    display: inline-block;
    width: 70px;
    height: 2px;
    transform: rotate(-12.529deg);
    background: #fff;
  }
  .price {
    margin-top: 23px;
    color: black;
  }
</style>
