---
import Layout from "./layout.astro";
---

<Layout>
    <section class="splide_section">
        <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
                <img src="../../misharik.jpg" alt="Photo of Misha">
                <div class="gradient_div"> </div>
                <section class="inner_content"> 
                    <div class="inner_headings">
                        <h2>MYKHAILO</h2>
                        <h2>DEVELOPER</h2>
                        <h2>COMMENTS</h2>
                    </div>
                    <div class="splide_text">
                        <h3>"If you can't do something, then don't. Focus on what you can do." <br>- Shiroe</h3>
                    </div>
                </section>
            </li>
            <li class="splide__slide"><img src="../../ksuha.jpg" alt="Photo of Ksusha">
              <div class="gradient_div"> </div>
              <section class="inner_content"> 
                  <div class="inner_headings">
                      <h2>KSENIIA</h2>
                      <h2>DEVELOPER</h2>
                      <h2>COMMENTS</h2>
                  </div>
                  <div class="splide_text">
                      <h3>"- The most successful person in the world? Who is he?
                        <br>- she" </h3>
                  </div>
              </section></li>
            <li class="splide__slide"><img src="../../seviks.jpg" alt="Photo of Seva">
              <div class="gradient_div"> </div>
              <section class="inner_content"> 
                  <div class="inner_headings">
                      <h2>VSEVOLOD</h2>
                      <h2>DEVELOPER</h2>
                      <h2>COMMENTS</h2>
                  </div>
                  <div class="splide_text textThree">
                      <h3>"When life gives you lemons, don't make lemonade - make life take the lemons back! Get mad! I don't want your damn lemons, what am I supposed to do with these?" <br> - Cave Johnson</h3>
                  </div>
              </section></li>
          </ul>
        </div>
        
        <div class="my-slider-progress">
          <div class="my-slider-progress-bar"></div>
        </div>
      </div>
    </section>

</Layout> 
<style>

.splide__pagination {
    display: none !important;
    opacity: 0% !important;
  }
  .splide_section {
    padding-top: 150px;
    display: flex;
    justify-content: center;

  }
  .splide__list{
        width: 1080px;
    }
    .splide__slide{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 522px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #e2dbf0;
    position: relative;
    }

    .inner_headings {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 30px;
    }
    .inner_headings>h2{
        text-align: center;
        font-family: "Libre Barcode 39 Extended Text";
        font-size: 65px;
        font-style: bold;
        font-weight: 500;
        line-height: normal;
        margin: 10px;
        
    }
    .splide__slide>img{
        width: 446px;
        height: 522px;
        border-radius: 20px;  
    }

    .inner_content{
        z-index: 10;
        width: 634px;
        height: 522px;
        top: 0px;
        border-radius: 20px;
    }
    .splide_text{
        margin-top: 15px;
    }
    .splide_text>h3{
        color: #000;
        text-align: center;
        font-family: "M PLUS 2";
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
  .my-slider-progress {
    margin-top: 15px;
    background: #ccc;
    margin-bottom: 100px;
  }
    
  .my-slider-progress-bar {
    background: #8C5EE7;
    height: 5px;
    transition: width 400ms ease;
    width: 0;
  }
  .gradient_div{
    height: 522px;
    width: 1080px;
    border-radius: 20px;
    display: flex;
    position: absolute;
    background: linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(226,219,240,1) 40%);
  }

  @media screen and (max-width: 1152px) {
  .splide_section {
    padding-top: 70px;
    
  }

  .splide__list{
        width: 100%;
        height: 400px;
    }
  
    .inner_headings {
        padding-top: 10px;
    }

    .inner_headings>h2{
        font-size: 50px;
        font-style: bold;
        font-weight: 500;
        line-height: normal;
        margin: 10px;
        
    }
    .splide__slide {
      height: 400px;
      flex-direction: row;
    }
    .splide__slide>img{
        width: 48%;
        height: 400px;
    }

    .inner_content{
        width: 52%;
        height: 400px;
    }

    .gradient_div{
    width: 100%;
    height: 400px;
  }

  .splide_text{
        margin-top: 0px;
    }

  .splide_text>h3{
        font-size: 18px;
    }

  .textThree>h3{
    font-size: 16px;
  }
  .my-slider-progress-bar {
    transition: width 400ms ease;
    width: 0;
  }
  .splide{
   max-width: 73%; 
  }
  .my-slider-progress {
    margin-bottom: 50px;
  }
  
}

@media screen and (max-width: 768px) {
  .splide_section {
    padding-top: 70px;
  }

  .splide__list{
        width: 100%;
        height: 320px;
    }
  
    .inner_headings {
        padding-top: 10px;
    }

    .inner_headings>h2{
        font-size: 25px;
        font-style: bold;
        font-weight: 500;
        line-height: normal;
        margin: 10px;
        
    }
    .splide__slide {
      height: 320px;
    }
    .splide__slide>img{
        width: 48%;
        height: 320px;
    }

    .inner_content{
        width: 52%;
        height: 320px;
    }

    .gradient_div{
    width: 100%;
    height: 320px;
  }

  .splide_text>h3{
        font-size: 18px;
    }
  .my-slider-progress-bar {
    transition: width 400ms ease;
    width: 0;
  }
  .splide{
   max-width: 73%; 
  }
  .my-slider-progress {
    margin-bottom: 50px;
  }
  
}

@media screen and (max-width: 320px) {
  .splide_section {
    padding-top: 70px;
    padding-bottom: 103px;
  }

  .splide__list{
        width: 100%;
        height: 200px;
    }
  
    .inner_headings {
        padding-top: 10px;
    }

    .inner_headings>h2{
        font-size: 25px;
        font-style: bold;
        font-weight: 500;
        line-height: normal;
        margin: 0px;
        
    }
    .splide__slide {
      height: 200px;
      flex-direction: row;
    }
    .splide__slide>img{
        width: 48%;
        height: 200px;
    }

    .inner_content{
        width: 52%;
        height: 200px;
    }

    .gradient_div{
    width: 100%;
    height: 200px;
  }

  .splide_text{
        margin-top: 0px;
    }

  .splide_text>h3{
        font-size: 12px;
    }

  .textThree>h3{
    font-size: 9.5px;
  }
  .my-slider-progress-bar {
    transition: width 400ms ease;
    width: 0;
  }
  .splide{
   max-width: 100%; 
  }
  .my-slider-progress {
    margin-bottom: 50px;
  }
  
}
</style>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js" defer></script>

<!-- Your custom script -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var splide = new Splide('.splide');
    var bar = splide.root.querySelector('.my-slider-progress-bar');
    
    // Updates the bar width whenever the carousel moves:
    splide.on('mounted move', function() {
      var end = splide.Components.Controller.getEnd() + 1;
      var rate = Math.min((splide.index + 1) / end, 1);
      bar.style.width = String(100 * rate) + '%';
    });
    
    splide.mount();

    var pagination = document.querySelector('.splide__pagination') as HTMLElement;
    if (pagination) {
        pagination.style.display = 'none';
    }
  });

  document.addEventListener('DOMContentLoaded', function() {
    // Select the previous and next arrow buttons
    var prevArrow = document.querySelector('.splide__arrow--prev');
    var nextArrow = document.querySelector('.splide__arrow--next');
    var splideArrows = document.querySelectorAll('.splide__arrow');

    // Customize the position, size, and background of the arrow buttons
    function customizeArrowButton(arrow) {
        arrow.style.position = 'absolute'; // Adjust position relative to its container
        arrow.style.top = '50%'; // Position vertically centered
        arrow.style.transform = 'translateY(-50%)'; // Center vertically
        arrow.style.width = '57px'; // Set desired width
        arrow.style.height = '114px'; // Set desired height
        arrow.style.background = 'transparent'; // Remove background
    }

    // Apply customization to both arrow buttons
    customizeArrowButton(prevArrow);
    customizeArrowButton(nextArrow);

    // Customize the position of the previous arrow button
    prevArrow.style.left = '-100px'; // Position the previous arrow button from the left
    prevArrow.style.top = '261px';

    // Customize the position of the next arrow button
    nextArrow.style.right = '-100px'; // Position the next arrow button from the right
    nextArrow.style.top = '261px';

    // Customize the size of the arrow icons
    var arrowIcons = document.querySelectorAll('.splide__arrow svg');
    arrowIcons.forEach(function(icon) {
        icon.style.width = '114px'; // Set the width of the SVG element
        icon.style.height = '57px'; // Set the height of the SVG element
    });

    // Function to hide/show arrows based on screen width
    function hideArrowsOnSmallScreens() {
        console.log("Current window width: " + window.innerWidth); // Log current window width
        splideArrows.forEach(function(arrow) {
            if (window.innerWidth <= 768) {
                console.log("Hiding arrows because window width is less than or equal to 768px");
                arrow.style.display = 'none';
            } else {
                console.log("Showing arrows because window width is greater than 768px");
                arrow.style.display = 'flex';
            }
        });
    }

    // Initial check
    hideArrowsOnSmallScreens();

    // Add event listener for window resize
    window.addEventListener('resize', hideArrowsOnSmallScreens);
});

</script>


