---
import Layout from "./layout.astro";
import { MANGA } from "../../public/MANGA.js";
---

<Layout>
  <section>
    <div class="container">
      <div class="catalog">
        <ul class="ulCatalog" id="catalog">
          {
            MANGA.map((manga) => (
              <li>
                <p class="remove">remove</p>
                <div class="manga ">
                  <img src={manga.image} class="mangaImg" />
                  <span class="price">{manga.price}</span>
                  <button type="button" class="buyBtnCatalog">
                    BUY
                  </button>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="basket">
        <img src="/basket.svg" />
        <span class="books">0</span>
      </div>
      <div class="basketValue shiftRight">
        <div class="basketItem">
          <span class="volume">Volume 2</span>
          <span class="baskerPrice">9.99£</span>
        </div>
        <!-- <span> Basket is empty :(</span> -->
      </div>
    </div>
  </section>
</Layout>
<script>
  const buyBtns = document.querySelectorAll(".buyBtnCatalog");
  const valueBook = document.querySelector(".books");
  const removeBooks = document.querySelectorAll(".remove");

  const basket = document.querySelector(".basket");
  const basketValue = document.querySelector(".basketValue");

  const basketItems = document.querySelector(".basketItem");
  const volumePosition = document.querySelector(".volume");
  const baskerPrice = document.querySelector("baskerPrice");

  basket.addEventListener("click", () => {
    basketValue.classList.toggle("shiftRight");
  });

  var booksNumber = 0;

  buyBtns.forEach((buyBtn) => {
    buyBtn.addEventListener("click", () => {
      booksNumber++;
      valueBook.textContent = booksNumber.toString();

      const closestManga = buyBtn.closest(".manga");
      closestManga.classList.add("chosen");

      buyBtn.disabled = true;

      const li = closestManga.closest("li");
      const remove = li.querySelector(".remove");
      remove.classList.add("show");
    });
  });

  removeBooks.forEach((removeBook) => {
    removeBook.addEventListener("click", () => {
      booksNumber--;
      valueBook.textContent = booksNumber.toString();

      const li = removeBook.closest("li");

      const closestManga = li.querySelector(".manga");
      closestManga.classList.remove("chosen");

      const closestBtn = closestManga.querySelector(".buyBtnCatalog");
      closestBtn.disabled = false;

      const closestRemove = li.querySelector(".remove");
      closestRemove.classList.remove("show");
    });
  });
</script>

<style>
  body {
    overflow: hidden;
  }

  .basketItem {
    margin-top: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
  }
  .basketItem::after {
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #000;
    content: "";
  }
  .volume {
  }
  .baskerPrice {
    color: #8c5ee7;
  }
  .remove {
    cursor: pointer;
    overflow: hidden;
    width: 0px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: #8c5ee7;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Mali;
    font-size: 15px;
    transition: all 0.2s;
  }

  .show {
    width: 70px;
  }

  .chosen {
    filter: grayscale(1);
  }
  .basket {
    top: 80px;
    right: 80px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #ccc6f3;
    border-radius: 10px;
    transition: all 0.2s;
  }

  .basket:hover {
    background-color: #b6aeea;
  }
  .basket:hover,
  .basket:hover + .basketValue {
    background-color: #b6aeea;
  }
  .basketValue {
    border-radius: 20px;
    top: 120px;
    right: -17px;
    position: absolute;
    width: 222px;
    height: 450px;
    min-height: 50px;
    padding: 10px;
    background-color: #ccc6f3;
    transition: all 0.2s;
  }
  .shiftRight {
    right: -300px;
  }
  .basketValue span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Mali;
    font-size: 16px;
  }
  .books {
    content: "1";
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #8c5ee7;
    position: absolute;

    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Mali;
    font-size: 15px;
  }
  .basket img {
    width: 30px;
    height: 30px;
    border: none;
  }
  .ulCatalog {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    list-style: none;
  }
  .container {
    position: relative;
    padding: 114px;
    margin: 0 auto;
    width: 1152px;
  }
  .catalog {
    padding: 20px;
    margin: 0 auto;
    width: 842px;

    border-radius: 20px;
    background: rgba(226, 219, 240, 0.5);
  }

  .manga {
    cursor: pointer;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 227px;
    height: 374px;
    border-radius: 20px;
    background: white;
    border: 3px solid rgba(226, 219, 240, 0.5);
    transition: all 0.3s;
  }
  .manga:hover {
    border: 3px solid #8c5ee7;
  }
  img {
    margin: 0 auto;
    width: 152px;
    height: 239px;
    flex-shrink: 0;
    border: 3px solid #0f0b18;
  }
  span {
    color: #000;
    text-align: center;
    font-family: Mali;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .prevPrice {
    position: absolute;
    left: 50%;
    top: 270px;
    transform: translateX(-50%);

    margin: 0px;
    color: #fff;
    text-align: center;
    font-family: Mali;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
  }
  .buyBtnCatalog {
    margin: 0 auto;
    margin-top: 15px;
    width: 80px;
    height: 30px;
    background-color: rgba(226, 219, 240, 0.5);
    border: none;
    border-radius: 20px;

    color: #000;
    text-align: center;
    font-family: "Maven Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.25s;
  }
  .buyBtnCatalog:hover {
    color: #fff;
    background-color: #8c5ee7;
  }
</style>
