---
import Layout from "./layout.astro";
import Card from "../components/cards/cardSale.astro";
import ArdNew from "../components/cards/сardNew.astro";
import CardPopular from "../components/cards/cardPopular.astro";
---

<Layout>
  <section class="hero">
    <h1>BOOK STORE</h1>
    <div class="hero-top">
      <ul>
        <li><img src="./MANGA/1.jpg" alt="" /></li>
        <li><img src="./MANGA/2.jpg" alt="" /></li>
        <li><img src="./MANGA/3.jpg" alt="" /></li>
        <li><img src="./MANGA/4.jpg" alt="" /></li>
        <li><img src="./MANGA/5.jpg" alt="" /></li>
        <li><img src="./MANGA/6.jpg" alt="" /></li>
        <li><img src="./MANGA/7.jpg" alt="" /></li>
        <li><img src="./MANGA/8.jpg" alt="" /></li>
        <li><img src="./MANGA/9.jpg" alt="" /></li>
        <li><img src="./MANGA/10.jpg" alt="" /></li>
      </ul>
      <ul>
        <li><img src="./MANGA/11.jpg" alt="" /></li>
        <li><img src="./MANGA/12.jpg" alt="" /></li>
        <li><img src="./MANGA/13.jpg" alt="" /></li>
        <li><img src="./MANGA/14.jpg" alt="" /></li>
        <li><img src="./MANGA/15.jpg" alt="" /></li>
        <li><img src="./MANGA/16.jpg" alt="" /></li>
        <li><img src="./MANGA/17.jpg" alt="" /></li>
        <li><img src="./MANGA/18.jpg" alt="" /></li>
        <li><img src="./MANGA/19.jpg" alt="" /></li>
        <li><img src="./MANGA/20.jpg" alt="" /></li>
      </ul>
      <ul>
        <li><img src="./MANGA/21.jpg" alt="" /></li>
        <li><img src="./MANGA/22.jpg" alt="" /></li>
        <li><img src="./MANGA/23.jpg" alt="" /></li>
        <li><img src="./MANGA/1.jpg" alt="" /></li>
        <li><img src="./MANGA/2.jpg" alt="" /></li>
        <li><img src="./MANGA/3.jpg" alt="" /></li>
        <li><img src="./MANGA/4.jpg" alt="" /></li>
        <li><img src="./MANGA/5.jpg" alt="" /></li>
        <li><img src="./MANGA/6.jpg" alt="" /></li>
        <li><img src="./MANGA/7.jpg" alt="" /></li>
      </ul>
    </div>
    <div class="hero-bottom">
      <ul>
        <li><img src="./MANGA/1.jpg" alt="" /></li>
        <li><img src="./MANGA/2.jpg" alt="" /></li>
        <li><img src="./MANGA/3.jpg" alt="" /></li>
        <li><img src="./MANGA/4.jpg" alt="" /></li>
        <li><img src="./MANGA/5.jpg" alt="" /></li>
        <li><img src="./MANGA/6.jpg" alt="" /></li>
        <li><img src="./MANGA/7.jpg" alt="" /></li>
        <li><img src="./MANGA/8.jpg" alt="" /></li>
        <li><img src="./MANGA/9.jpg" alt="" /></li>
        <li><img src="./MANGA/10.jpg" alt="" /></li>
      </ul>
      <ul>
        <li><img src="./MANGA/11.jpg" alt="" /></li>
        <li><img src="./MANGA/12.jpg" alt="" /></li>
        <li><img src="./MANGA/13.jpg" alt="" /></li>
        <li><img src="./MANGA/14.jpg" alt="" /></li>
        <li><img src="./MANGA/15.jpg" alt="" /></li>
        <li><img src="./MANGA/16.jpg" alt="" /></li>
        <li><img src="./MANGA/17.jpg" alt="" /></li>
        <li><img src="./MANGA/18.jpg" alt="" /></li>
        <li><img src="./MANGA/19.jpg" alt="" /></li>
        <li><img src="./MANGA/20.jpg" alt="" /></li>
      </ul>
      <ul>
        <li><img src="./MANGA/21.jpg" alt="" /></li>
        <li><img src="./MANGA/22.jpg" alt="" /></li>
        <li><img src="./MANGA/23.jpg" alt="" /></li>
        <li><img src="./MANGA/1.jpg" alt="" /></li>
        <li><img src="./MANGA/2.jpg" alt="" /></li>
        <li><img src="./MANGA/3.jpg" alt="" /></li>
        <li><img src="./MANGA/4.jpg" alt="" /></li>
        <li><img src="./MANGA/5.jpg" alt="" /></li>
        <li><img src="./MANGA/6.jpg" alt="" /></li>
        <li><img src="./MANGA/7.jpg" alt="" /></li>
      </ul>
    </div>
  </section>
  <section class="menuCatalog">
    <div class="container">
      <div class="menu">
        <ul>
          <li><a href="" class="menuBtnActive" id="Sale">SALE</a></li>
          <li><a href="" class="menuBtn" id="Popular">POPULAR</a></li>
          <li><a href="" class="menuBtn" id="New">NEW</a></li>
        </ul>
      </div>
      <div class="results" id="results">
        <Card />
        <ArdNew />
        <CardPopular />
      </div>
    </div>
  </section>
  <section class="CHARACTERS">
    <h2>CHARACTERS</h2>
    <div class="people">
      <ul class="peopleUl">
        <li class="peopleLi geto">
          <img src="./CHARACTERS/geto.webp" alt="" class="peopleImg" />
          <div class="peopleText">
            <img src="./grades/Special.webp" alt="" class="peopleTextImg" />
            <span>SUGURU GETO</span>
          </div>
        </li>
        <li class="peopleLi gojo">
          <img src="./CHARACTERS/gojo.webp" alt="" class="peopleImg" />
          <div class="peopleText">
            <img src="./grades/Special.webp" alt="" class="peopleTextImg" />
            <span>SATORU GOJO</span>
          </div>
        </li>
        <li class="peopleLi kento">
          <img src="./CHARACTERS/kento.webp" alt="" class="peopleImg" />
          <div class="peopleText">
            <img src="./grades/Special.webp" alt="" class="peopleTextImg" />
            <span>KENTO NANAMI</span>
          </div>
        </li>
        <li class="peopleLi megumi">
          <img src="./CHARACTERS/megumi.webp" alt="" class="peopleImg" />
          <div class="peopleText">
            <img src="./grades/Special.webp" alt="" class="peopleTextImg" />
            <span>MEGUMI FUSHIGURO</span>
          </div>
        </li>
        <li class="peopleLi nobara">
          <img src="./CHARACTERS/nobara.webp" alt="" class="peopleImg" />
          <div class="peopleText">
            <img src="./grades/Special.webp" alt="" class="peopleTextImg" />
            <span>NOBARA KUGISAKI</span>
          </div>
        </li>
        <li class="peopleLi panda">
          <img src="./CHARACTERS/panda.webp" alt="" class="peopleImg" />
          <div class="peopleText">
            <img src="./grades/Special.webp" alt="" class="peopleTextImg" />
            <span>PANDA</span>
          </div>
        </li>
        <li class="peopleLi toge">
          <img src="./CHARACTERS/toge.webp" alt="" class="peopleImg" />
          <div class="peopleText">
            <img src="./grades/Special.webp" alt="" class="peopleTextImg" />
            <span>TOGE INUMAKI</span>
          </div>
        </li>
        <li class="peopleLi yuji">
          <img src="./CHARACTERS/yuji.webp" alt="" class="peopleImg" />
          <div class="peopleText">
            <img src="./grades/Special.webp" alt="" class="peopleTextImg" />
            <span>YUJI ITADORI</span>
          </div>
        </li>
      </ul>
    </div>
  </section>
</Layout>
<script>
  const sale = document.getElementById("Sale");
  const popular = document.getElementById("Popular");
  const New = document.getElementById("New");

  var cardSecSale = document.querySelector(".cardSecSale");
  var cardSecNew = document.querySelector(".cardSecNew");
  var cardSecPopular = document.querySelector(".cardSecPopular");

  function showSaleCards() {
    sale.classList.remove("menuBtn");
    sale.classList.add("menuBtnActive");

    popular.classList.remove("menuBtnActive");
    popular.classList.add("menuBtn");
    New.classList.remove("menuBtnActive");
    New.classList.add("menuBtn");

    cardSecSale.classList.remove("hidden");
    cardSecNew.classList.add("hidden");
    cardSecPopular.classList.add("hidden");
  }

  function showPopularCards() {
    popular.classList.remove("menuBtn");
    popular.classList.add("menuBtnActive");

    sale.classList.remove("menuBtnActive");
    sale.classList.add("menuBtn");
    New.classList.remove("menuBtnActive");
    New.classList.add("menuBtn");

    cardSecPopular.classList.remove("hidden");
    cardSecNew.classList.add("hidden");
    cardSecSale.classList.add("hidden");
  }

  function showNewCards() {
    New.classList.remove("menuBtn");
    New.classList.add("menuBtnActive");

    sale.classList.remove("menuBtnActive");
    sale.classList.add("menuBtn");
    popular.classList.remove("menuBtnActive");
    popular.classList.add("menuBtn");

    cardSecSale.classList.add("hidden");
    cardSecNew.classList.remove("hidden");
    cardSecPopular.classList.add("hidden");
  }

  sale.addEventListener("click", function (event) {
    event.preventDefault();
    showSaleCards();
  });
  popular.addEventListener("click", function (event) {
    event.preventDefault();
    showPopularCards();
  });
  New.addEventListener("click", function (event) {
    event.preventDefault();
    showNewCards();
  });
</script>
<style>
  * {
    margin: 0px;
    padding: 0px;
  }
  .hidden {
    display: none !important;
  }
  .peopleText {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 100px;
    transform: translateX(-250px);

    z-index: 100;
    color: black;
    width: 350px;
    height: 250px;
  }
  .peopleText > span {
    color: #000;
    text-align: center;
    font-family: "Libre Barcode 39 Extended Text";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .people {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .peopleUl {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    gap: 0px;
    margin-bottom: 103px;
    transition: all 0.4s;
  }
  .peopleUl:hover {
    width: 1152px;
  }
  .peopleLi {
    display: flex;
    flex-direction: row;
    border: 5px solid white;
    position: relative;
    overflow: hidden;
    width: px;
    transition: all 0.4s;
  }
  .peopleLi:hover {
    width: 380px;
  }
  .peopleLi:hover > .peopleImg {
    filter: grayscale(0%);
    width: 380px;
  }
  .peopleLi:hover {
    width: 380px;
  }

  .peopleImg {
    filter: grayscale(100%);
    border: none;
    opacity: 1;
    transform: translateX(-140px);
    margin: 0 auto;
    width: 380px;
    height: 450px;
    transition: all 0.4s;
  }
  .peopleTextImg {
    width: 150px;
    height: 150px;
    border: none;
    opacity: 1;
  }
  .geto {
    background-color: #9b8ab4;
  }

  .gojo {
    background-color: #b1d4ef;
  }
  .kento {
    background-color: #fe8a38;
  }
  .megumi {
    background-color: #89d2d1;
  }
  .nobara {
    background-color: #dd4657;
  }
  .panda {
    background-color: #ccc6f3;
  }
  .toge {
    background-color: #80d69d;
  }
  .yuji {
    background-color: #c05576;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1152px;
    padding-top: 60px;
  }

  h2 {
    color: #000;
    text-align: center;
    font-family: "Libre Barcode 39 Extended Text";
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .menuCatalog {
    background: rgba(226, 219, 240, 0.62);
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #fff;
    width: 664px;
    height: 70px;
    margin-bottom: 61px;
  }
  .menuBtnActive {
    box-sizing: border-box;
    border-radius: 30px;
    background: #e2dbf0;
    padding: 10px 34px;
  }

  .menuBtn {
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px 34px;
  }
  .results {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0px 0px;

    width: 871px;
    height: 481px;
    background-color: #fff;
  }
  .results div {
    width: 227px;
    height: 374px;
    border-radius: 20px;
    background: #e2dbf0;
  }
  a {
    color: #000;
    text-align: center;
    font-family: "M PLUS 2";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;
  }
  a:hover {
    color: #8c5ee7;
  }
  .menuBtnActive:hover {
    color: #fff;
  }

  ul {
    gap: 59px;
    list-style: none;
    display: flex;
  }
  li {
    display: flex;
    gap: 45px;
  }

  h1 {
    z-index: 10;
    text-align: center;
    font-family: "Libre Barcode 39 Extended Text";
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: var(--GR, linear-gradient(173deg, #b7a1e4 -0.15%, #fff 53.1%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background: var(
      --MAINGR,
      linear-gradient(130deg, #000 25.43%, #8c5ee7 140.97%)
    );
  }
  .hero::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 600px;
    background: rgba(140, 94, 231, 0.1);
    backdrop-filter: blur(7.5px);
  }
  .hero-top {
    padding: 0px;
    white-space: nowrap;
    display: flex;
    position: absolute;
    top: -90px;
  }
  .hero-bottom {
    padding: 0px;
    white-space: nowrap;
    display: flex;
    position: absolute;
    bottom: -90px;
  }
  .hero-top > ul {
    padding-left: 30px;
    animation: 30s slideRight infinite linear;
    white-space: nowrap;
    list-style: none;
    display: flex;
    gap: 30px;
  }
  .hero-bottom > ul {
    padding-left: 30px;
    animation: 30s slideLeft infinite linear;
    white-space: nowrap;
    list-style: none;
    display: flex;
    gap: 30px;
  }
  img {
    display: block;
    border: 3px solid #fff;
    opacity: 0.6;
    /* background-color: gray; */
    width: 146px;
    height: 230px;
  }
  @keyframes slideLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slideRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
</style>
