---
import Layout from "./layout.astro";
import Card from "../components/cards/cardSale.astro";
---

<Layout>
  <section class="hero">
    <h1>BOOK STORE</h1>
    <div class="hero-top">
      <ul>
        <li><img src="./MANGA/1.jpg" alt="" /></li>
        <li><img src="./MANGA/2.jpg" alt="" /></li>
        <li><img src="./MANGA/3.jpg" alt="" /></li>
        <li><img src="./MANGA/4.jpg" alt="" /></li>
        <li><img src="./MANGA/5.jpg" alt="" /></li>
        <li><img src="./MANGA/6.jpg" alt="" /></li>
        <li><img src="./MANGA/7.jpg" alt="" /></li>
        <li><img src="./MANGA/8.jpg" alt="" /></li>
        <li><img src="./MANGA/9.jpg" alt="" /></li>
        <li><img src="./MANGA/10.jpg" alt="" /></li>
      </ul>
      <ul>
        <li><img src="./MANGA/11.jpg" alt="" /></li>
        <li><img src="./MANGA/12.jpg" alt="" /></li>
        <li><img src="./MANGA/13.jpg" alt="" /></li>
        <li><img src="./MANGA/14.jpg" alt="" /></li>
        <li><img src="./MANGA/15.jpg" alt="" /></li>
        <li><img src="./MANGA/16.jpg" alt="" /></li>
        <li><img src="./MANGA/17.jpg" alt="" /></li>
        <li><img src="./MANGA/18.jpg" alt="" /></li>
        <li><img src="./MANGA/19.jpg" alt="" /></li>
        <li><img src="./MANGA/20.jpg" alt="" /></li>
      </ul>
      <ul>
        <li><img src="./MANGA/21.jpg" alt="" /></li>
        <li><img src="./MANGA/22.jpg" alt="" /></li>
        <li><img src="./MANGA/23.jpg" alt="" /></li>
        <li><img src="./MANGA/1.jpg" alt="" /></li>
        <li><img src="./MANGA/2.jpg" alt="" /></li>
        <li><img src="./MANGA/3.jpg" alt="" /></li>
        <li><img src="./MANGA/4.jpg" alt="" /></li>
        <li><img src="./MANGA/5.jpg" alt="" /></li>
        <li><img src="./MANGA/6.jpg" alt="" /></li>
        <li><img src="./MANGA/7.jpg" alt="" /></li>
      </ul>
    </div>
    <div class="hero-bottom">
      <ul>
        <li><img src="./MANGA/1.jpg" alt="" /></li>
        <li><img src="./MANGA/2.jpg" alt="" /></li>
        <li><img src="./MANGA/3.jpg" alt="" /></li>
        <li><img src="./MANGA/4.jpg" alt="" /></li>
        <li><img src="./MANGA/5.jpg" alt="" /></li>
        <li><img src="./MANGA/6.jpg" alt="" /></li>
        <li><img src="./MANGA/7.jpg" alt="" /></li>
        <li><img src="./MANGA/8.jpg" alt="" /></li>
        <li><img src="./MANGA/9.jpg" alt="" /></li>
        <li><img src="./MANGA/10.jpg" alt="" /></li>
      </ul>
      <ul>
        <li><img src="./MANGA/11.jpg" alt="" /></li>
        <li><img src="./MANGA/12.jpg" alt="" /></li>
        <li><img src="./MANGA/13.jpg" alt="" /></li>
        <li><img src="./MANGA/14.jpg" alt="" /></li>
        <li><img src="./MANGA/15.jpg" alt="" /></li>
        <li><img src="./MANGA/16.jpg" alt="" /></li>
        <li><img src="./MANGA/17.jpg" alt="" /></li>
        <li><img src="./MANGA/18.jpg" alt="" /></li>
        <li><img src="./MANGA/19.jpg" alt="" /></li>
        <li><img src="./MANGA/20.jpg" alt="" /></li>
      </ul>
      <ul>
        <li><img src="./MANGA/21.jpg" alt="" /></li>
        <li><img src="./MANGA/22.jpg" alt="" /></li>
        <li><img src="./MANGA/23.jpg" alt="" /></li>
        <li><img src="./MANGA/1.jpg" alt="" /></li>
        <li><img src="./MANGA/2.jpg" alt="" /></li>
        <li><img src="./MANGA/3.jpg" alt="" /></li>
        <li><img src="./MANGA/4.jpg" alt="" /></li>
        <li><img src="./MANGA/5.jpg" alt="" /></li>
        <li><img src="./MANGA/6.jpg" alt="" /></li>
        <li><img src="./MANGA/7.jpg" alt="" /></li>
      </ul>
    </div>
  </section>
  <section class="menuCatalog">
    <div class="container">
      <div class="menu">
        <ul>
          <li><a href="" class="menuBtnActive">SALE</a></li>
          <li><a href="">POPULAR</a></li>
          <li><a href="">NEW</a></li>
        </ul>
      </div>
      <div class="results">
        <ul>
          <li>
            <Card />
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="CHARACTERS">
    <h2>CHARACTERS</h2>
    <div class="heros">
      <div class="barLeft"></div>
      <div class="character">
        <div class="characterImg">
          <img src="./CHARACTERS/gojo.webp" alt="" />
        </div>
        <div class="characterInfo">
          <h3>SATORU GOJO</h3>
          <img src="./grades/Special.webp" alt="" />
          <ul class="infoList">
            <li>
              <span class="itemType"
                >Gender:<span class="itemValue">Male</span></span
              >
            </li>
            <li>
              <span class="itemType"
                >Height:<span class="itemValue">over 190</span></span
              >
            </li>
            <li>
              <span class="itemType"
                >Grade:<span class="itemValue">Special Grade</span></span
              >
            </li>
            <li>
              <span class="itemType"
                >Birthday:<span class="itemValue">December 7, 1989</span></span
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="barRiht"></div>
    </div>
  </section>
</Layout>
<style>
  * {
    margin: 0px;
    padding: 0px;
  }
  .heros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1152px;
    padding-top: 60px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1152px;
    padding-top: 60px;
  }
  .character {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 799px;
    height: 563px;
    border-radius: 30px;
    background-color: #b1d4ef;
    margin-left: 62px;
    margin-right: 62px;
  }
  .character::after {
    content: "";
    background-image: url(./character_bg-1.png);
    width: 792px;
    height: 563px;
    border-radius: 30px;
    position: absolute;
  }
  .character::before {
    content: "";
    background-image: url(./character_bg-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 792px;
    height: 445px;
    top: 118px;

    position: absolute;

    z-index: 101;
  }

  h3 {
    z-index: 100;
    color: #000;
    text-align: center;
    font-family: "Libre Barcode 39 Extended Text";
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .characterImg {
    z-index: 100;
    position: relative;
  }

  .characterImg > img {
    position: absolute;
    width: 509px;
    height: 536px;

    top: -236px;
    left: -60px;

    opacity: 1;
    border: none;
  }
  .characterInfo > img {
    z-index: 100;
    width: 239px;
    height: 239px;
    opacity: 1;
    border: none;
  }
  .characterInfo {
    box-sizing: border-box;
    margin-left: 300px;
    z-index: 101;
  }
  .infoList {
    display: flex;
    flex-direction: column;
    height: 163px;
    gap: 13px;
  }
  .itemType {
    color: #8c5ee7;
    font-family: Abel;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .itemValue {
    color: #000;
    font-family: Abel;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .CHARACTERS {
    margin-top: 137px;
    margin-bottom: 142px;
  }
  h2 {
    color: #000;
    text-align: center;
    font-family: "Libre Barcode 39 Extended Text";
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 99px;
  }
  .menuCatalog {
    background: rgba(226, 219, 240, 0.62);
  }
  .barLeft {
    width: 120px;
    height: 576px;
    border-radius: 30px;
    background: #e2dbf0;
  }
  .barRiht {
    width: 120px;
    height: 576px;
    border-radius: 30px;
    background: #e2dbf0;
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #fff;
    width: 664px;
    height: 70px;
    margin-bottom: 61px;
  }
  .menuBtnActive {
    box-sizing: border-box;
    border-radius: 30px;
    background: #e2dbf0;
    background-color:;
    padding: 10px 34px;
  }
  .results {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0px 0px;

    width: 871px;
    height: 481px;
    background-color: #fff;
  }
  .results div {
    width: 227px;
    height: 374px;
    border-radius: 20px;
    background: #e2dbf0;
  }
  a {
    color: #000;
    text-align: center;
    font-family: "M PLUS 2";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;
  }
  a:hover {
    color: #8c5ee7;
  }
  .menuBtnActive:hover {
    color: #fff;
  }

  ul {
    gap: 59px;
    list-style: none;
    display: flex;
  }
  li {
    display: flex;
    gap: 45px;
  }

  h1 {
    z-index: 10;
    text-align: center;
    font-family: "Libre Barcode 39 Extended Text";
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: var(--GR, linear-gradient(173deg, #b7a1e4 -0.15%, #fff 53.1%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background: var(
      --MAINGR,
      linear-gradient(130deg, #000 25.43%, #8c5ee7 140.97%)
    );
  }
  .hero::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 600px;
    background: rgba(140, 94, 231, 0.1);
    backdrop-filter: blur(7.5px);
  }
  .hero-top {
    padding: 0px;
    white-space: nowrap;
    display: flex;
    position: absolute;
    top: -90px;
  }
  .hero-bottom {
    padding: 0px;
    white-space: nowrap;
    display: flex;
    position: absolute;
    bottom: -90px;
  }
  .hero-top > ul {
    padding-left: 30px;
    animation: 30s slideRight infinite linear;
    white-space: nowrap;
    list-style: none;
    display: flex;
    gap: 30px;
  }
  .hero-bottom > ul {
    padding-left: 30px;
    animation: 30s slideLeft infinite linear;
    white-space: nowrap;
    list-style: none;
    display: flex;
    gap: 30px;
  }
  img {
    display: block;
    border: 3px solid #fff;
    opacity: 0.6;
    /* background-color: gray; */
    width: 146px;
    height: 230px;
  }
  @keyframes slideLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slideRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
</style>
