---
import Layout from "./layout.astro";
import storedLogin from "./registration.astro";
---

<Layout>
<div>
    <section id="hero">
      <div id="heroUsername">
        <span id="span">USERNAME</span>
      </div>
    </section>

    <section id="main">
        <div id="outerBox">
            <div id="profileBox">
                <div class="container">
                    <div id="info" class="flexItem">
                        <form id="infoForm">
                            <label for="infoName" class="label" class="infoLabel">NAME</label>
                            <input type="text" name="infoName" id="infoName" class="infoInput">

                            <label for="infoEmail" class="label" class="infoLabel">EMAIL</label>
                            <input type="text" name="infoEmail" id="infoEmail" class="infoInput">

                            <label for="infoPassword" class="label" class="infoLabel">PASSWORD</label>
                            <input type="password" name="infoPassword" id="infoPassword" class="infoInput">

                            <button type="button" id="saveInfoBtn" class="profileBtn">SAVE</button>
                        </form>
                    </div>

                    <div id="avatar" class="flexItem">
                        <div class="avatarBox">
                            <img src="/pandaAva.webp" alt="">
                        </div>
                        <button id="reloadBtn">
                            <div id="reload">
                                <img src="/reload-svgrepo-com.svg" alt="" id="reloadIcon">
                            </div>
                        </button>
                        <button type="button" id="saveAvatarBtn" class="profileBtn">SAVE</button>
                    </div>

                    <div id="about" class="flexItem">
                        <form id="aboutForm">
                            <label for="aboutBox" class="label">ABOUT</label><br>
                            <input type="text" name="aboutBox" id="aboutBox">
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</Layout>

<script>
    import storedLogin from "./registration.astro";

    const username = sessionStorage.getItem("userName");
    const password = sessionStorage.getItem("passWord");
    let headerName = document.getElementById("span");
    const labelName = document.getElementById("infoName") as HTMLInputElement;
    const labelPassword = document.getElementById('infoPassword');
    const saveInfoBtn = document.getElementById('saveInfoBtn');
    
    console.log(storedLogin);

    labelName.value = username;




    saveInfoBtn.addEventListener('click', function(){
            // Prevent the default form submission
            event.preventDefault();

            // Get form data
            const username = (document.getElementById('username') as HTMLInputElement).value;
            const email = (document.getElementById('email') as HTMLInputElement).value;
            const password = (document.getElementById('password') as HTMLInputElement).value;

            // Log the data to the console (you can remove this in production)
            console.log('Username:', username);
            console.log('Email:', email);
            console.log('Password:', password);

            // Create an object with the form data
            const formData = {
                username: username,
                email: email,
                password: password
            };
    })

</script>


<style>
    #hero {
        width: 100;
        height: 16rem;
        background: var(--MAINGR, linear-gradient(160deg, #000 25.43%, #8C5EE7 140.97%));
        display: flex;
    }

    .flexItem {
        width: 30%;
    }

    #heroUsername {
        color: #FFF;
        padding-top: 3.6rem;
        text-align: center;
        align-items: center;
        margin: auto;
        font-family: "Libre Barcode 39 Extended Text";
        font-size: 120px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

  #outerBox {
    width: 1152px;
    height: 625px;
    margin: auto;
    margin-top: 2.5rem;
    border-radius: 35px;
    background: rgba(237, 233, 246, 0.41);
    display: grid;
  }

  #profileBox {
    width: 1076px;
    height: 544px;
    margin: auto;
    flex-shrink: 0;
    border-radius: 15px;
    background: #fff;
  }

    .container {
        margin: 1.7rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .profileBtn {
        background-color: #8C5EE7;
        border-radius: 13px;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: "M PLUS 2";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: .3rem;
        width: 5rem;
    }

    #saveInfoBtn {
        margin: 0 auto;

    }

    #reloadBtn {
        padding: .5rem;
        border-radius: 300px;
        border: solid 2px;
        border-color: #8C5EE7;
        background-color: #8C5EE7;
    }

    #reloadIcon {
        width: 35px;
    }


    #saveAvatarBtn {
        margin: 1.2rem;
    }

    .label {
        color: #50F;
        text-align: center;
        font-family: "M PLUS 2";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #info {
        width: 30%;
    }

    #about {
        width: fit-content;
    }

    #infoForm {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .infoInput {
        margin: .3rem 0 1.2rem 0;
        padding: .6rem;
        width: 93%;
        border-radius: 10px;
        border: 2px solid #8C5EE7;
        background: #E2DBF0;
        color: #000;
        font-family: "M PLUS 2";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #avatar {
        display: flex;
        justify-items: center;
        flex-direction: column;
        align-items: center;
    }

    .avatarBox {
        margin: 0 auto;
        width: fit-content;
        background-color: #E2DBF0;
        border-radius: 300px;
        padding: 1rem;

    }

    #aboutBox {
        padding: .6rem;
        border-radius: 10px;
        border: 2px solid #8C5EE7;
        background: #E2DBF0;
        width: 18rem;
        height: 18rem;
        color: #000;
        font-family: "M PLUS 2";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .infoInput:focus {
        background: #ebe7f3;
        transition: ease-in-out .2s;
    }

    #aboutBox:focus {
        background: #ebe7f3;
        transition: ease-in-out .2s;
    }

    .profileBtn:active {
        background-color: #773bef;
    }

</style>
